body {
    background-color: rgb(213, 10, 29);
}

#outer-container {
    background-image: url("/frame-pic.png");
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-attachment: fixed scroll;
    background-position: center;
    background-color: rgb(213, 10, 29);
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board-area {
    display: block;
}

#canvas-area {
    background-color: white;
    border-radius: 5%;
    margin: 120px 0 0 -10px;
}

span {
    font-size: 24px;
    color: rgb(143, 133, 133);
}

#horizontal-arrows {
    float: left;
    margin-top: 45px;
    margin-left: -78px;
}

#vertical-arrows {
    float: right;
    margin-top: 45px;
    margin-right: -67px;
}

#instruction-btn {
    background-color: rgb(229, 61, 77);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    color: rgb(50, 50, 50);
    font-size: 12px;
    font-weight: 600;
    margin: 10px;
    padding: 3px 3px;
    text-align: center;
    margin-top: 120px;
    margin-left: -100px;
}

.sidepanel {
    height: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    margin-left: 20vm;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: enter;
    background-color: rgb(229, 61, 77);
    border: 2px solid rgb(50, 50, 50);
    font-family: Helvetica, sans-serif;
}

.closing-panel-x {
    color: rgb(143, 133, 133);
    font-weight: 900;
    float: right;
    font-size: 48px;
    line-height: 24px;
    cursor: pointer;
}

/* Adjust to respond to smaller screen, e.g. ipad or rotated mobile */
@media screen and (max-width: 800px) {
    #outer-container {
        background-size: auto 50%;
    }

    #canvas-area {
        width: 310px;
        margin: 82px 0 0 -5px;
    }

    span {
        font-size: 16px;
    }

    #horizontal-arrows {
        margin-top: 25px;
        margin-left: -49px;
    }
    
    #vertical-arrows {
        margin-top: 25px;
        margin-right: -42px;
    }

    #instruction-btn {
        font-size: 10px;
        margin-top: 70px;
        margin-left: -60px;
    }

    /* Adjust to respond to even smaller screen, e.g. a smartphone */
    @media screen and (max-width: 500px) {
        #outer-container {
            background-size: auto 35%;
        }
    
        #canvas-area {
            width: 220px;
            margin: 60px 0 0 -5px;
        }
    
        span {
            font-size: 12px;
        }
    
        #horizontal-arrows {
            margin-top: 13px;
            margin-left: -34px;
        }
        
        #vertical-arrows {
            margin-top: 13px;
            margin-right: -29px;
        }
    
        #instruction-btn {
            font-size: 8px;
            font-weight: 400;
            margin-top: 40px;
            margin-left: -40px;
        }
    }
}